@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#menu {
  width: 18%;
  height: 100vh;
  position: fixed;
  background-color: #37474f;
  float: left;
}

#menu > .user {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

#menu > nav > ul {
  border-top: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu > nav > ul > li {
  width: 100%;
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

#menu > nav > ul > li:hover {
  border-right: 6px solid #f93;
}

.action {
  
  color: #f93;
  border-right: 6px solid #f93;
}

i {
  margin-right: 10px;
}

#conteudo {
  width: 82%;
  height: 100vh;
  margin-left: 18%;
  position: fixed;
  background-color: #eceff1;
  color: #37474f;
  float: right;
}

#conteudo > .title {
  border: 1px solid #37474f;
  border-radius: 15px;
  margin: 30px;
  padding: 20px;
}

#conteudo > .title > .subtitle {
  color: #b0bec5;
}

#conteudo > .article {
  border: 1px solid #37474f;
  border-radius: 15px;
  margin: 30px;
  padding: 30px;
}

#conteudo > .article > .row > .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  max-width: 540px;
  border-radius: 15px;
  font-weight: bold;
  margin: 10px;
}

#conteudo > .article > .row > .box i {
  font-size: 80px;
  padding: 15px;
}


